__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
data/game_logs/*.json
data/game_logs/*/
!data/game_logs/example-ai-ai-free/
!data/game_logs/example-ai-ai-free/**
!data/game_logs/example-ai-ai-renju/
!data/game_logs/example-ai-ai-renju/**
!data/game_logs/example-human-ai-free/
!data/game_logs/example-human-ai-free/**
!data/game_logs/extreme-1/
!data/game_logs/extreme-1/**
!data/game_logs/extreme-2/
!data/game_logs/extreme-2/**
